$secondaryColor: #eceaea;

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Oswald", sans-serif;
}
.main-header {
  display: block;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: red;
  padding: 1rem 0rem 0.5rem;

  h1 {
    font-size: 2.5rem;
    text-shadow: 1.5px 1.5px black;
  }

  i {
    padding-left: 0.5rem;
  }

  .main-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .flex-list {
      padding: 0.2rem 1rem;
      display: flex;
      flex-direction: row;
      list-style: none;

      li {
        font-size: 1.2rem;
        margin-right: 2rem;

        a {
          text-decoration: none;
          h4 {
            transition: all 0.2s ease-in-out;
            color: #fff;
            text-decoration: none;

            &:hover {
              color: gold;
              transform: scale(1.2);
            }
          }
        }
      }
    }
  }
}

.search-bar {
  background: $secondaryColor;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;

  .flex-filter {
    display: flex;

    .filter-button {
      border: 1px solid #cccccc;
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
      font-size: 13px;
      height: 100%;
      padding: 0.6rem;
      width: 4rem;

      &:focus {
        outline: none;
      }

      &:hover {
        background: #679cd3;
        color: #fff;
      }

      &:first-child {
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
      }
    }

    #All {
      border-radius: 50%;
    }
    .clicked {
      color: #fff;
      background: #679cd3;
    }
  }

  .flex-search-bar {
    display: flex;
    width: 60%;
    #movie-show-title {
      font-size: 13.5px;
      height: 100%;
      border: 1px solid #cccccc;
      border-right: none;
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
      width: 100%;
      padding: 0.6rem;

      &:focus {
        outline: none;
      }
    }

    .clear-search-button {
      border: 1px solid #cccccc;
      border-left: none;
      width: 5%;
      background: #fff;
      box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2);
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
      color: #a7a9a9;
      outline: none;
    }
  }
}

.movie-container {
  overflow: auto;
  min-height: 68vh;
  background: $secondaryColor;
  .movie-item-container {
    background: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 0.5rem 2rem;
    display: flex;
    flex-direction: row;
    gap: 5rem;
    padding: 1rem;
    transition: 0.3s;

    .flex-img {
      height: 150px;
      width: 110px;
    }

    .flex-list {
      list-style: none;

      .movie-title {
        font-size: 2rem;
      }

      .btn-info {
        border: none;
        font-size: 1rem;
        font-family: "Oswald", sans-serif;
        background: #679cd3;
        margin: 0.5rem 0;
        padding: 0.4rem 2rem;
        color: #fff;
        outline: none;

        &:hover {
          color: gold;
        }
      }
    }
    &:hover {
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }
  }

  .go-back-button {
    background: $secondaryColor;
    border: none;
    display: inline-block;
    margin: 0.5rem 2.2rem;
    font-size: 1.5rem;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
    outline: none;

    &:hover {
      transform: scale(1.05);
    }
  }

  .success-list {
    display: block;
    text-align: center;
    padding: 1rem;
    color: #fff;
    background: #37be66;

    i {
      padding-left: 0.5rem;
    }
  }
}

.selected-item-container {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  background: #fff;
  margin: 1rem 2rem 2rem;
  padding: 1.5rem;
  display: flex;
  gap: 1.5rem;
  align-items: flex-start;

  .flex-selected-showcase {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 1.5rem;

    img {
      margin-top: 0.5rem;
      border: 1px solid #333;
      height: 450px;
      width: 300px;
    }
  }

  .flex-selected-details {
    font-size: 1.1rem;
    padding: 3rem 0;
    display: flex;

    li {
      list-style: none;
    }

    .add-to-list-button {
      margin-top: 0.5rem;
      text-align: center;
      border: none;
      background: #679cd3;
      color: #fff;
      font-weight: bold;
      font-size: 1.05rem;
      padding: 0.8rem 0.9rem;
      outline: none;

      i {
        padding-left: 0.5rem;
        color: red;
      }

      &:hover {
        color: gold;
      }
    }
  }
}
.alert-message {
  display: block;
  color: #000;
  text-align: center;
  padding: 1rem;
}

.main-footer {
  display: block;
  text-align: center;
  padding: 1rem;
  background: red;
  color: #fff;

  .flex-list {
    justify-content: center;
    display: flex;
    list-style: none;

    li {
      padding: 0.5rem 0.8rem 1rem;

      i {
        color: #fff;
        transition: all 0.2s ease-in-out;

        &:hover {
          color: gold;
          transform: scale(1.2);
        }
      }
    }
  }
}

// favorites.html
.favorites-header {
  background: $secondaryColor;
  padding: 1rem;
  text-align: center;
  display: block;
  font-size: 1.2rem;
  i {
    color: red;
    padding-left: 0.5rem;
  }
}

.favorites-container {
  background: $secondaryColor;
  min-height: 80vh;
  padding: 0.1rem;

  .favorite-item-container {
    display: flex;
    gap: 2rem;
    background: #fff;
    padding: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 0.5rem 2rem;

    .flex-showcase {
      text-align: center;
      align-items: center;
      width: 13%;
      display: flex;
      flex-direction: column;

      img {
        height: 260px;
        width: 190px;
      }
    }

    .flex-details {
      width: 82%;
      display: flex;
      flex-direction: column;

      ul {
        padding: 1rem 0;
      }

      li {
        list-style: none;
      }
    }

    .remove-container {
      text-align: center;
      width: 5%;

      button {
        border: none;
        outline: none;

        &:hover {
          color: red;
        }
      }
    }
  }
}

// about.html
#about-container {
  height: 80vh;
}
