* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Oswald", sans-serif;
}
.main-header {
  display: block;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: red;
  padding: 1rem 0;

  h1 {
    font-size: 2.5rem;
    text-shadow: 1.5px 1.5px black;
  }

  i {
    padding-left: 0.5rem;
  }
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  #movie-show-title {
    font-size: 0.8rem;
    padding: 0.6rem;
    border-radius: 15px;
    width: 50%;

    &:focus {
      outline: none;
    }
  }
}

.movie-container {
  .movie-item-container {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    padding: 1rem;
    border: 0.5px solid #333;

    .flex-img {
      height: 170px;
      width: 120px;
    }

    .flex-list {
      list-style: none;

      .movie-title {
        font-size: 2rem;
      }

      .btn-info {
        font-size: 1rem;
        font-family: "Oswald", sans-serif;
        background: #6386d2;
        margin: 0.5rem 0;
        padding: 0.4rem 2rem;
        color: #fff;
      }
    }
  }
}
.alert-message {
  display: block;
  color: #000;
  text-align: center;
  padding: 1rem;
}
